langchain
langchain-community
langchain-core
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
streamlit
pypdf
python-dotenv
groq
ragas
datasets
langgraph
beautifulsoup4
requests
duckduckgo-search
ddgs
python-docx
reportlab